export DIRENV_WORKS=1
layout node
# check out kubie, dear dudes and dudettes: https://github.com/sbstp/kubie
# (per-shell kubectl config switcher)
kubie ctx minikube
kubie ns hello-world
watch_file ~/.kube/kubie.yaml
